#layout {
    position: relative;
    padding-left: 0;
}
    #layout.active .trilhasonora-container{
        right: 150px;
        width: 150px;
    }

    #layout.active #trilhasonora-toggle {
        right: 150px;
    }

    
body.no-scroll{
    overflow: hidden;
}
.trilhasonora-botoes{
    position: fixed;
    //background: red;
    top: 0;
    right: 0;
    padding: 10px;
}
.trilhasonora-botoes span{
    display: inline-block;
    background: blue;
    width: 40px;
    height: 40px;
    margin:2px;
    cursor: pointer;
}
.trilhasonora-botoes #trilhasonora-prev{
    background: url('../media/trilhasonora-prev.png') center no-repeat;
}
.trilhasonora-botoes #trilhasonora-play{
    background: url('../media/trilhasonora-pause.png') center no-repeat;
}
.trilhasonora-botoes #trilhasonora-play.pause{
    background: url('../media/trilhasonora-play.png') center no-repeat;
}
.trilhasonora-botoes #trilhasonora-next{
    background: url('../media/trilhasonora-next.png') center no-repeat;
}
.trilhasonora-botoes #trilhasonora-toggle{
    background: url('../media/trilhasonora-playlist.png') center no-repeat;
}
#trilhasonora{
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    display: none;
    color:white;
}
.trilhasonora-cortina{
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.2);
}
.trilhasonora-container {
    width: 100%;
    max-width: 480px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    background: #191818;
    display: none;
}
.trilhasonora-cabecalho{
    position: absolute;
    width: 100%;
    top:0;  
    z-index: 21;
}
.trilhasonora-cabecalho #botoesTrilhaSonora{
    position: absolute;
    top:0;
    left:0;
}
.trilhasonora-cabecalho #botoesTrilhaSonora button{
    width: 35px;
    height: 35px;
    border:none;
    cursor: pointer;
    display: inline-block;
    margin:2px;
}
.trilhasonora-cabecalho #btFecharTrilhaSonora{
    background: url('../media/fechar-branco.png') center no-repeat;
}
.trilhasonora-cabecalho #btPrevTrilhaSonora{
    margin-left: 10px !important;
    background: url('../media/trilhasonora-prev.png') center no-repeat;
}
.trilhasonora-cabecalho #btPlayTrilhaSonora{
    background: url('../media/trilhasonora-pause.png') center no-repeat;
}
.trilhasonora-cabecalho #btPlayTrilhaSonora.pause{
    background: url('../media/trilhasonora-play.png') center no-repeat;
}
.trilhasonora-cabecalho #btNextTrilhaSonora{
    background: url('../media/trilhasonora-next.png') center no-repeat;
}
.trilhasonora-cabecalho audio{
    max-width: 100%;
}
.trilhasonora-cabecalho h1{
    padding-top: 30px;
    padding-left: 30px; 
    white-space: nowrap;
}
.trilhasonora-conteudo{
    position: absolute;
    top:125px;
    top:180px;
    bottom: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
}
.trilhasonora-conteudo ul{
    padding: 0;
    list-style: none;
}
.trilhasonora-conteudo li{
    padding: 10px 30px;
    cursor: pointer;
    color:white;
    transition: all .2s ease-in-out;
}
.trilhasonora-conteudo li h3{
    font-family: bebasneueBold;
    font-weight: normal;
    margin: 0;
}
.trilhasonora-conteudo li p{
    font-family: corbeli, sans-serif;
    margin:0;
}
.trilhasonora-conteudo li:hover{
    background: rgb(92, 126, 230);
}
.trilhasonora-conteudo li:hover{
    background: rgb(92, 126, 230);
    color: white;
}
.trilhasonora-conteudo li.selected{
    color:rgb(92, 126, 230);
}
.trilhasonora-conteudo li.selected:hover{
    background: white;
    color:rgb(92, 126, 230);
}