body {
    color: #777;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/*
Add transition to containers so they can push in and out.
*/
#layout,
#trilhasonora,
.menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
    position: relative;
    padding-left: 0;
}
    #layout.active .trilhasonora-container{
        right: 150px;
        width: 150px;
    }

    #layout.active .menu-link {
        right: 150px;
    }


/*
The `#trilhasonora` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.
*/
body.no-scroll{
    overflow: hidden;
}
#trilhasonora{
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
}
.trilhasonora-cortina{
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.2);
}
.trilhasonora-container {
    width: 100%;
    max-width: 480px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    //margin-right: -150px; /* "#trilhasonora" width */
    
    z-index: 1000; /* so the menu or its navicon stays above all content */
    background: #191818;
}
.trilhasonora-cabecalho{
    position: absolute;
    width: 100%;
    top:0;  
    z-index: 21;
}
.trilhasonora-cabecalho button{
    width: 35px;
    height: 35px;
    background: url('../media/fechar-branco.png') center no-repeat;
    border:none;
    cursor: pointer;
    position: absolute;
    top:0;
    left: 0px;
}
.trilhasonora-cabecalho audio{
    max-width: 100%;
}
.trilhasonora-cabecalho h1{
    padding-top: 30px;
    padding-left: 30px; 
    white-space: nowrap;
}
.trilhasonora-conteudo{
    position: absolute;
    top:125px;
    top:180px;
    bottom: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
}
.trilhasonora-conteudo ul{
    padding: 0;
    list-style: none;
}
.trilhasonora-conteudo li{
    padding: 10px 30px;
    cursor: pointer;
    color:white;
}
.trilhasonora-conteudo li h3{
    font-family: bebasneueBold;
    font-weight: normal;
    margin: 0;
}
.trilhasonora-conteudo li p{
    font-family: corbeli;
    margin:0;
}
.trilhasonora-conteudo li:hover{
    background: rgb(92, 126, 230);
}
.trilhasonora-conteudo li:hover{
    background: rgb(92, 126, 230);
    color: white;
}
.trilhasonora-conteudo li.selected{
    color:rgb(92, 126, 230);
}
.trilhasonora-conteudo li.selected:hover{
    color: white;
}


/* -- Dynamic Button For Responsive Menu -------------------------------------*/

/*
The button to open/close the Menu is custom-made and not part of Pure. Here's
how it works:
*/

/*
`.menu-link` represents the responsive menu toggle that shows/hides on
small screens.
*/
.menu-link {
    position: fixed;
    display: block; /* show this only on small screens */
    top: 0;
    right: 0; /* "#trilhasonora width" */
    background: #000;
    background: rgba(0,0,0,0.7);
    font-size: 10px; /* change this value to increase/decrease button size */
    z-index: 10;
    width: 2em;
    height: auto;
    padding: 2.1em 1.6em;
}

    .menu-link:hover,
    .menu-link:focus {
        background: #000;
    }

    .menu-link span {
        position: relative;
        display: block;
    }

    .menu-link span,
    .menu-link span:before,
    .menu-link span:after {
        background-color: #fff;
        width: 100%;
        height: 0.2em;
    }

        .menu-link span:before,
        .menu-link span:after {
            position: absolute;
            margin-top: -0.6em;
            content: " ";
        }

        .menu-link span:after {
            margin-top: 0.6em;
        }


/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
/*
@media (min-width: 48em) {

    .header,
    .content {
        padding-left: 2em;
        padding-right: 2em;
    }

    #layout {
        padding-right: 150px; 
        left: 0;
    }
    #trilhasonora{
        right: 150px;
    }

    .menu-link {
        position: fixed;
        left: 150px;
        display: none;
    }

    #layout.active .menu-link {
        left: 150px;
    }
}
*/

