/* 
CSS do SLIDE SHOW
*/
body.no-scroll{
    overflow: hidden;
}
.slide-show{
    cursor: pointer;
}
#slideshow{
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    display: none;
}
#slideshow .fechar{
    background: url('../media/slideshow-fechar.png') center no-repeat;
    width: 50px;
    height: 50px;
    margin: 15px;
    border: none;
    position: absolute;
    cursor: pointer;
    opacity: .6;
}
#slideshow .prev{
    cursor: pointer;
    background: url('../media/slideshow-left.png') center no-repeat;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    visibility: visible;
    opacity: .6;
}
#slideshow .next{
    cursor: pointer;
    background: url('../media/slideshow-right.png') center no-repeat;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0;
    visibility: visible;
    opacity: .6;
}
#slideshow .fechar:hover, #slideshow .prev:hover, #slideshow .next:hover{
    opacity: 1;
}
#slideshow .prev.off, #slideshow .next.off{
    visibility: hidden;
}
#slideshow .slideshow-cortina{
    position: fixed;
    background: rgba(0,0,0,0.9);
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}
#slideshow .slideshow-legenda{
    background: rgba(0,0,0,0.8);
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    overflow: auto;
    font-family: corbeli, sans-serif;
}
#slideshow .slideshow-legenda div{
    padding: 30px;
}
#slideshow .slideshow-legenda button{
    position: absolute;
    top: 0;
    right: 30px;
    background: url('../media/fechar.png');
    width: 18px;
    height: 18px;
}
#slideshow .slideshow-imagem{
   position: absolute;
   top:0;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto; 
}