/*
Estilo da página
*/
 @font-face {
                font-family: bebasneueBold;
                src: url("font/BebasNeue Bold.otf");
                font-weight: bold;
                font-style: normal;
            }
            @font-face {
                font-family: bebasneue;
                src: url("font/BebasNeue Regular.otf");
                font-weight: normal;
                font-style: normal;
            }
            @font-face {
                font-family: bebasneueBook;
                src: url("font/BebasNeue Book.otf");
                font-weight: normal;
                font-style: normal;
            }
            @font-face {
                font-family: bebasneueLight;
                src: url("font/BebasNeue Light.otf");
                font-weight: normal;
                font-style: normal;
            }
            
            @font-face {
                font-family: bebasneueThin;
                src: url("font/BebasNeue Thin.otf");
                font-weight: normal;
                font-style: normal;
            }
            @font-face {
                font-family: corbeli;
                src: url("font/corbeli.ttf");
                font-weight: normal;
                font-style: normal;
            }
            
            #placaVirtual{
                background: #333;
                width: 100%;
                font-family: bebasneueBold;
            }
            #placaVirtual h1{
                margin: 0;
                font-weight: normal;
            }
            #placaVirtual h3{
                margin: 0;
                font-weight: normal;
            }
            .b1{
                font-family: bebasneueBold;
            }
            .b2{
                font-family: bebasneue;
                
            }
            .b3{
                font-family: bebasneueBook;
               
            }
            .b4{
                 font-family: bebasneueLight;
            }
            .b5{
                font-family: bebasneueThin;
            }
            .c{
                font-family: corbeli;
            }