/*
FONTES
*/
@font-face {
    font-family: bebasneueBold;
    src: url("font/BebasNeue Bold.otf");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: bebasneue;
    src: url("font/BebasNeue Regular.otf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: bebasneueBook;
    src: url("font/BebasNeue Book.otf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: bebasneueLight;
    src: url("font/BebasNeue Light.otf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: bebasneueThin;
    src: url("font/BebasNeue Thin.otf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: corbeli;
    src: url("font/corbeli.ttf");
    font-weight: normal;
    font-style: normal;
}

/*
PLACA VIRTUAL
*/
.carregando{
    background: #333;
    width: 100%;  
}
.sem-suporte{
    width: 100%;  
    background-image:  url('../media/triangulos.png') ;
    background-size: cover;
    background-position: center center; 
}
#placaVirtual h1{
    margin:0;
    padding: 30px 30px 0 30px;
    font-family: bebasneueBold;
    font-weight: normal;
    font-size: 50px;
    color:white;
}
#placaVirtual h3{
    margin:0;
    padding: 0 30px; 
    font-family: bebasneueBold;
    font-size: 21px;
    font-weight: normal;
    color:white;
}


/*
CONTAINER
*/
.container{
    background: white;
    padding:30px 0px;
}
.container.secundario{
    background: rgb(20,9,88);
}
.conteudo{
    margin:0 auto;
    max-width: 1024px;
}
.alinhar-centro{
    margin: 0 auto;
}
.margem-horizontal{
    padding-left:30px;
    padding-right:30px;
}
.margem-vertical{
    padding-top:15px;
    padding-bottom:15px;
}

/*
ACORDEÃO
*/
.acordeao-titulo{
    position: relative;
}
.acordeao-titulo button{
    width: 40px;
    border: none;
    position: absolute;
    right: 30px;
    top:0;
    bottom: 0;
    background-color: white;
    background-image: url(../media/seta-fechado.png);
    background-repeat: no-repeat;
    background-position: center;

}
.acordeao button.aberto{
    background-image: url(../media/seta-aberto.png);
}
.acordeao-conteudo{
    display: none;
}
section{
    //background: red;
}
article{
    //background: green;
    //margin-bottom: 30px;
}

/*
TIPOLOGIA
*/
h1.titulo{
    font-family: bebasneueBold;
    font-size: 50px;
    font-weight: normal;
    color: rgb(20,9,88);
    margin:0;
}
h2.titulo{
    font-family: bebasneueBold;
    font-size: 35px;
    font-weight: normal;
    color: rgb(20,9,88);
    margin:0;
}
h3.titulo{
    font-family: bebasneueBold;
    font-size: 21px;
    font-weight: normal;
    color: rgb(20,9,88);
    margin:0;
}
h4.titulo{
    font-family: bebasneueBold;
    font-size: 14px;
    font-weight: normal;
    color: rgb(20,9,88);
    margin:0;
}
h5.titulo{
    font-family: bebasneue;
    font-size: 12px;
    font-weight: normal;
    color: rgb(20,9,88);
    margin:0;
}
.container.secundario h1.titulo{
    font-family: bebasneueBold;
    font-size: 50px;
    font-weight: normal;
    color:  white;
    margin:0;
}
.container.secundario h2.titulo{
    font-family: bebasneueBold;
    font-size: 35px;
    font-weight: normal;
    color:  white;
    margin:0;
}
.container.secundario h3.titulo{
    font-family: bebasneueBold;
    font-size: 21px;
    font-weight: normal;
    color:  white;
    margin:0;
}
.container.secundario h4.titulo{
    font-family: bebasneueBold;
    font-size: 14px;
    font-weight: normal;
    color:  white;
    margin:0;
}
.container.secundario h5.titulo{
    font-family: bebasneue;
    font-size: 12px;
    font-weight: normal;
    color:  white;
    margin:0;
}
.texto{
    font-family: corbeli;
    color:black;
    font-size: 21px;
    margin: 0;
}
.texto.primario{
    color:rgb(20,9,88);
}
.container.secundario .texto.primario{
    color:white;
}
.texto.small{
    font-size: 14px;
}
/*
LINKS
*/
a:link, a:active, a:visited{
  color: rgb(92, 126, 230); 
  text-decoration: underline;
}
a:hover{
  color: rgb(92, 126, 230); 
  text-decoration: underline;
}
/*
NOMES
*/
.nome{
    margin: 0;
    font-family: bebasneueBook;
    font-size: 21px;
    color:black;
}
.nome strong{
    font-family: bebasneueBold;
    font-weight: normal;
}
/*
LISTA DE PESSOAS
*/
.lista-pessoas article{
    cursor: pointer;
    position: relative;
}
.lista-pessoas article:hover, .lista-pessoas article:active{
    background: rgb(92, 126,230);
}
.lista-pessoas article .minifoto{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 5px 5px 0 5px;
}
.lista-pessoas article .nome{
    padding: 15px;
    position: absolute;
    top:0px;
    left:55px;
}
/*
PESSOA
*/
/*
RODAPÉ
*/
#rodape{   
}
#rodape nav{
    margin-top: 10px;
}
#rodape nav ul{
    list-style-type: none;
    font-family: bebasneue;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 0;
    margin: 0;
   
}
#rodape nav li{
    padding-bottom: 7px;
}
#rodape nav li:last-child{
    padding-bottom: 0px;
}
#rodape a{
    text-decoration: none;
}
#rodape .copyright{
    margin-top:30px;
    font-family: bebasneue;
    font-size: 12px;
    color:white;
    letter-spacing: 1px;
}

/*
a partir de 20em = 320px
.pure-u-sm-*
*/
@media screen and (min-width : 20em){
    
}
/*
a partir de 30em = 480px
.pure-u-md-*
*/
@media screen and (min-width : 30em){
    /*
    RODAPÉ
    */
    #rodape nav{
        margin-top: 00px;
    }
    #rodape nav li{
        padding-bottom: 19px;
    }
    #rodape nav li:last-child{
        padding-bottom: 0px;
    }
}
/*
a partir de 48em = 768px
.pure-u-lg-*
*/
@media screen and (min-width : 48em){
    /*
    CONTAINER
    */
    .container{
        padding:60px 0px;
    }
    /*
    ACORDEÃO
    */
    .acordeao-conteudo{
        display: block !important;
    }
    
} 
/*
a partir de 64em  = 1024px
.pure-u-xl-*
*/
@media screen and (min-width : 64em){
    
    /*
    LINKS
    */
    a:link, a:active, a:visited{
        text-decoration: none;
        color: rgb(92, 126, 230); 
    }
    a:hover{
        color: rgb(92, 126, 230); 
        text-decoration: underline;
    }
} 