/*
FONTES
*/
@font-face {
    font-family: bebasneueBold;
    src: url("font/BebasNeue Bold.otf");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: bebasneue;
    src: url("font/BebasNeue Regular.otf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: bebasneueBook;
    src: url("font/BebasNeue Book.otf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: bebasneueLight;
    src: url("font/BebasNeue Light.otf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: bebasneueThin;
    src: url("font/BebasNeue Thin.otf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: corbeli;
    src: url("font/corbeli.ttf");
    font-weight: normal;
    font-style: normal;
}

/*
PLACA VIRTUAL
*/
.carregando{
    background: #333;
    width: 100%;  
}
.sem-suporte{
    width: 100%;  
    background-image:  url('../media/triangulos.png') ;
    background-size: cover;
    background-position: center center; 
}
#placaVirtual h1{
    margin:0;
    padding: 30px 30px 0 30px;
    font-family: bebasneueBold;
    font-weight: normal;
    font-size: 50px;
    color:white;
}
#placaVirtual h3{
    margin:0;
    padding: 0 30px; 
    font-family: bebasneueBold;
    font-size: 21px;
    font-weight: normal;
    color:white;
}


/*
CONTAINER
*/
.box {
    padding: 30px 0;
    background: white;
}
.l-box{
    padding: 30px 30px;
    background: white;
}
.box.secundario, .l-box.secundario{
    background: rgb(20,9,88);
}
/*
TIPOLOGIA
*/
.margem{
    margin: 0 30px !important;
}
h1.primario{
    font-family: bebasneueBold;
    font-size: 50px;
    font-weight: normal;
    color: rgb(20,9,88);
    margin:0;
}
h2.primario{
    font-family: bebasneueBold;
    font-size: 35px;
    font-weight: normal;
    color: rgb(20,9,88);
    margin:0;
}
h3.primario{
    font-family: bebasneueBold;
    font-size: 21px;
    font-weight: normal;
    color: rgb(20,9,88);
    margin:0;
}
h4.primario{
    font-family: bebasneueBold;
    font-size: 14px;
    font-weight: normal;
    color: rgb(20,9,88);
    margin:0;
}
h5.primario{
    font-family: bebasneue;
    font-size: 12px;
    font-weight: normal;
    color: rgb(20,9,88);
    margin:0;
}
h1.secundario{
    font-family: bebasneueBold;
    font-size: 50px;
    font-weight: normal;
    color:  white;
    margin:0;
}
h2.secundario{
    font-family: bebasneueBold;
    font-size: 35px;
    font-weight: normal;
    color:  white;
    margin:0;
}
h3.secundario{
    font-family: bebasneueBold;
    font-size: 21px;
    font-weight: normal;
    color:  white;
    margin:0;
}
h4.secundario{
    font-family: bebasneueBold;
    font-size: 14px;
    font-weight: normal;
    color:  white;
    margin:0;
}
h5.secundario{
    font-family: bebasneue;
    font-size: 12px;
    font-weight: normal;
    color:  white;
    margin:0;
}
.texto{
    font-family: corbeli;
    color:black;
    font-size: 21px;
}
.texto.primario{
    font-family: corbeli;
    color:rgb(20,9,88);
}
.texto.secundario{
    font-family: corbeli;
    color:white;
}
.texto.small{
    font-size: 14px;
}

/*48em = 768px*/
@media screen and (min-width : 48em){
    /*
    CONTAINER
    */
    .box{
        padding: 60px 0;
    }
    .l-box{
        padding: 60px 60px;
    }
    /*
    TIPOLOGIA
    */
    .margem{
        margin: 0 60px !important;
    }
} 