/**
* Digital Clock
* 
* Pode ser usado pelo Chronometer ou Countdown
*/

.digital-clock {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.digital-clock--ended {
    transition: color .95s ease-out;
    color:rgb(166, 11, 197);
}

.digital-clock__divider {
    position: relative;
    text-align: center;
}

.digital-clock__divider::before {
    content: ":";
}

.digital-clock__box {
    text-align: center;
    position: relative;
}

.digital-clock__box::after {
    font-size: .75em;
    margin-top: .5em;
}

.digital-clock__box--days::after {
    content: "dias";
}

.digital-clock__box--hours::after {
    content: "horas";
}

.digital-clock__box--minutes::after {
    content: "minutos";
}

.digital-clock__box--seconds::after {
    content: "segundos";
}

.digital-clock__track {
    height: 1em;
    overflow: hidden;
    text-align: center;
}

.digital-clock__divider, .digital-clock__track {
    font-size: 4em;
}

.digital-clock__number {
    display: flex;
    flex-direction: column-reverse;
    top: 0px;
    transform: translateY(0px);
}

.digital-clock--regressive .digital-clock__number {
    flex-direction: column;
    transform: translateY(-100px);
}

.digital-clock__box--animating .digital-clock__number {
    transform: translateY(-100px);
    transition: transform .5s ease-out;
}

.digital-clock--regressive .digital-clock__box--animating .digital-clock__number {
    transform: translateY(0px);
}

.digital-clock__number span:first-child {
    min-width: 100px;
    height: 100px;
}

.digital-clock__number span:last-child {
    min-width: 100px;
    height: 100px;
}



/* Dispositivos extra small (telefones em modo retrato, com menos de 576px)
 Sem media query para `xs`, já que este é o padrão, no Bootstrap.*/

/* Dispositivos small (telefones em modo paisagem, com 576px ou mais)*/
@media (min-width: 576px) {

    .digital-clock {
        flex-direction: row;
    }

    .digital-clock__divider, .digital-clock__track {
        font-size: 3em;
    }

}

/* Dispositivos médios (tablets com 768px ou mais)*/
@media (min-width: 768px) { 
    .digital-clock__divider, .digital-clock__track {
        font-size: 4em;
    }
 }

/* Dispositivos large (desktops com 992px ou mais)*/
@media (min-width: 992px) {
    .digital-clock__divider, .digital-clock__track {
        font-size: 5em;
    }
}

/* Dispositivos extra large (desktops grandes com 1200px ou mais)*/
@media (min-width: 1200px) {
    .digital-clock__divider, .digital-clock__track {
        font-size: 6em;
    }
}