
/**
* Pixel Grid
*/

.pixel-grid {
    position: relative;
    width: 100%;
}

.pixelgrid__grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.pixel-grid__pixel {
    position: relative;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    background: #dadada;
    border: 1px solid white;
}

.pixel-grid__pixel--elapsed {
    background: #4CB33D;
}

@keyframes blink {
    0%   { background: rgb(91, 4, 109); }
    30% { background: rgb(166, 11, 197); }
    100% { background: rgb(91, 4, 109); }
}

.pixel-grid__pixel--today {
    opacity: .8;
    background: rgb(166, 11, 197);
    animation: blink 2s infinite ease-in;
}

.pixel-grid__pixel--today::before {
    content: 'você já está aqui e não pode desistir!';
    color: white;
    background: inherit;
    display: block;
    position: absolute;
    bottom: 30px;
    width: 100px;
    z-index: 1;
    font-size: .75em;
    padding: 10px;
}

.pixel-grid__pixel--today::after {
    content: '';
    position: absolute;
    bottom: 25px;
    left: 3px;
    width: 16px;
    height: 16px;
    background: inherit;
    transform: rotate(-45deg);
}

.pixel-grid--ended .pixel-grid__pixel--today::before {
    content: 'você conseguiu!';
}

.pixel-grid__start-date {
    font-size: .75em;
    text-align: left;
    position: relative;
    left: 0;
}

.pixel-grid__end-date {
    font-size: .75em;
    position: absolute;
    right: 0;
    text-align: right;
}

/* Dispositivos extra small (telefones em modo retrato, com menos de 576px)
 Sem media query para `xs`, já que este é o padrão, no Bootstrap.*/

/* Dispositivos small (telefones em modo paisagem, com 576px ou mais)*/
/* @media (min-width: 576px) {

} */

/* Dispositivos médios (tablets com 768px ou mais)*/
/* @media (min-width: 768px) { 

 } */

/* Dispositivos large (desktops com 992px ou mais)*/
/* @media (min-width: 992px) {

} */

/* Dispositivos extra large (desktops grandes com 1200px ou mais)*/
/* @media (min-width: 1200px) {

} */